<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>J.M. Janzen's Resume</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <nav>
        <a href="https://jmjanzen.com">Homepage</a>
        <a href="https://jmjanzen.com/portfolio">Portfolio</a>
        <a href="/static/pdf/jmjanzen-resume.pdf" download>Download PDF</a>
        <a href="/static/txt/jmjanzen-resume.txt">Plain text</a>
    </nav>

    {{.Resume}}

</body>
</html>
