<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Drawing worms</title>
	<style>
	img:not(.exception) {
		width: 200px;
		height: 200px;
		object-fit: cover;
		display: block;
	}
	</style>
</head>
<body>
<nav>
	<a href="/">back to blogs</a>
	<br />
</nav>
<hr />
<article>
	<h1>Drawing worms</h1>

	<p>
		<label>Created:</label> 2026-09-02<br />
		<label>Author:</label> J.M. Janzen<br />
	</p>

	<p>
		Hey there, here's how I draw worms sometimes.
	</p>

	<h3>Step 1. I draw some faint scribbles</h3>
	<img src="/static/img/worm-1.jpg" alt="progress sketch 1: light pencil swirls on lined paper. The word 'tomorrow' is legible, but no other notable notes are decipherable">
	<p>
		Just a random swirl of lines to get started.
	</p>

	<h3>Step 2. Sketch worm outlines</h3>
	<img style="size=50%" src="/static/img/worm-2.jpg" alt="progress sketch 2: some of the pencil swirls have been resolved into 3 or more worms in a tangle. 3 cartoon faces can be seen, and the worms' bodies have been lightly penciled-in">
	<p>
		A lot of fun. Just like trace around and find all the worms' heads and tails, and how they're going to fit together.
	</p>

	<h3>Step 3. Start on worm detail</h3>
	<img src="/static/img/worm-3.jpg" alt="progress sketch 3: the same sketch but now the worms have lines on their bodies, and one tail curl has been fixed to be shorter and more realistic">
	<p>
		This is where you commit to worms. (Can you commit to your worms?) And last best chance to correct anything that doesn't look like it will work.
	</p>

	<h3>Step 4. Shading pass</h3>
	<img src="/static/img/worm-4.jpg" alt="progress sketch 4: the sketch now has pillowy shading with a couple of dark areas where the worms' bodies are underneath each other">
	<p>
		Light always comes from the top-right. It's the law.
	</p>
	<p>
		But yeah, look at earlier commitment and keep committing. Think about the dimensionality of your worms&mdash;who's in the foreground/bg, and where the shadows fall / where they look good.
	</p>
	<p>
		That said, if you're doing worm faces (oh you <em>must</em> do worm faces!) then you probably want to keep them pretty clear. But that's art, babies&mdash;use a touch of realism to communicate what the object is, but then flaunt that realism as soon it would make something look less like what you want it to.
	</p>

	<h3>Step 5. Detail pass</h3>
	<img src="/static/img/worm-5.jpg" alt="progress sketch 5: more detailed version of the sketch with much darker, bolder lines. The worms look unmistakably like cartoon worms now">
	<p>
		Add that weird segment that worms have (apparently this is a <a href="https://en.wikipedia.org/wiki/Clitellum">clitellum</a>; mad respect).
	</p>
	<p>
		Continue to firm up those lines. The ones in shadow are generally going to be darker, and the opposite ones lighter (looking at my own sketch I didn't really follow this&mdash;I went kind of all&ndash;around toon lines, but that's a look too).</p>

	<h3>Step 6. Zhuzh pass</h3>
	<img class="exception" src="/static/img/worm-6.jpg" alt="progress sketch 6: the final sketch with lots of wiggle lines, some exertion lines where the worms' bodies are holding up the tangle of worms. One worm with an intense expression yells: who's steppin' on my foot! Another worm in behind the others has a question mark above it's head and innocent expression. The third visible worm's face is set in a somewhat sly smile hehehe like they're a little sneak who steps on other worms' feet">
	<p>
		I like the add the flavour here&mdash;that means your movement lines, your word bubbles, etc.
	</p>



</article>
<hr />
<footer>
	<p>
		Don't scrape me bro. <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4</a>
	</p>
</footer>
</body>
</html>
