<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog of JM</title>
</head>
<body>
	<nav>
		<a href="https://jmjanzen.com">homepage</a>
		<br />
	</nav>
	<h2>Blog articles written by JM</h2>
	<ul>
		<li>
		<span>2025-06-20</span>
		<a href="/starting-a-blog">starting a blog</a>
		</li>
	</ul>
</body>
</html>
