<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog of JM</title>
</head>
<body>
	<nav>
		<a href="https://jmjanzen.com">homepage</a>
		<br />
	</nav>
	<h1>The Blog</h1>
	<ul>
		<li>
		<span>2025-06-20</span>
		<a href="/starting-the-blog">starting the blog</a>
		</li>
	</ul>
</body>
</html>
