<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blog of JM</title>
</head>
<body>
	<nav>
		<a href="https://jmjanzen.com">homepage</a>
		<br />
	</nav>
	<h1>The Blog</h1>

	<p>
		The following is provided for the purposes of proving interiority only.
		Any actual good points, hot or cold takes, cunning observations, or
		source(s) of inspiration, should be viewed as purely epiphenomic.
	</p>
	<p>
		And now with my sincerest apologies to The Internet and her citizens,
		I present:
	</p>

	<h3>The Articles</h3>
	<ul>
		<li>
		<span>2025-06-20</span>
		<a href="/starting-the-blog">starting the blog</a>
		</li>
	</ul>
</body>
</html>
