<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Starting The blog</title>
</head>
<body>
<nav>
	<a href="/">back to blogs</a>
	<br />
</nav>
<hr />
<article>
	<h1>Starting The Blog</h1>

	<p>
		<label>Created:</label> 2025-06-20<br />
		<label>Edited:</label> 2026-09-05<br />
		<label>Author:</label> J.M. Janzen<br />
	</p>

	<p>
		Dear programmer or other tech afflicted obsessive. If you start your
		blog with code, you will just keep writing code,
		because--spoiler--writing code is fun, creative, and lets you practice
		what you're good at. Whereas writing regular-human-readable text is
		squishy and uncomfortable. Human text may have a syntax, but it has an
		infuriatingly elastic fail condition. You can even fail in ways more
		logical than syntactic and be congratulated on it (I could name a few
		authors here, but an inaugural blog post is not the place to be making
		enemies).
	</p>
	<p>
		So while a typo may cause a sentence to fail interpretation on the
		client's end, you're not going to get an error message. Even worse, if
		your point is illogical or just <strong>bad</strong>, you can still
		serve it and share, and maybe even spread it. That's just the risk you
		take when sharing squishy thoughts instead of hard, clean code.
	</p>
	<p>
		Which brings me to...
	</p>

	<h3>Step 1: Don't Start by Building a CMS</h3>
	<p>
		Real people won't see your code. Even most people-of-tech won't.
		Like, are you running to check out the source code for this blog? I
		don't think so. So who's the real audience? That's right, it's you.
		It's always been you. So you're writing for yourself. Why not write
		<em>about yourself</em>? And then maybe the odd lost netizen has a
		chance to learn a bit about what you've got to say.
	</p>
	<p>
		So put the compiler down. You, with the transpiler--in the back; put
		that down too. Do not start the blog by building a CMS, unless you plan
		to write about building a CMS. And then only build the CMS after you've
		started your blog (but that's my idea -- go get your own (actually, I
		take it back, we can share)).
	</p>

	<h3>Step 2: Wait 6 Years for Inspiration to Strike</h3>
	<p>
		You may elect to skip this step, but I'm just sharing my own process,
		and procrastinating for 6+ years and then one day deciding to start
		writing for my personal homepage is a process that worked me.
		<span title="You May (or mayn't) Move Vigrorously">YMMV</span>.
	</p>

	<h3>Step 3: Pick a Topic</h3>
	<p>
		Ideally this will be something other than "Starting The Blog" and will be
		something of actual interest to others and not just scrape bait for
		LLMs. But the important thing is to actually just start. So if you've
		got a more interesting idea than mine then you're doing great. Just
		write about that.
	</p>

	<h3>Step 4: Remove filler</h3>
	<p>
		"Kill your darlings" advice remains ever-relevant. Writing is easy;
		editing is hard. So pull the words out, put them on the page. Publish
		them, even. You won't know how you feel about them until they sit up
		there for a while. But.
	</p>
	<p>
		Don't be afraid to cut some or all of what you wrote. Like especially
		astute readers who can count may notice that the number of steps here
		might not perfectly line up. And to that, I saw you're welcome.
	</p>

	<h3>Step 10: Exit Early</h3>
	<p>
		Ideally, keep it short. But if you can't do that, leave with something
		unsaid. Not as engagement bait (you should not be focusing on that),
		but just to leave some room for your reader's imagination. Give them
		the space to exercise some creativity in the reading of your article.
	</p>
	<p>
		The above will also help if you struggle with over-explaining. This
		isn't a Reddit flame thread, where you have to add defensive qualifiers
		for every single point, or else risk getting roasted on your weakest
		point. There is no invisible audience, or chorus of up and down -voters
		here, so any fans or haters that make it to your inbox have got there
		honestly.
	</p>

</article>
<hr />
<footer>
	<p>
		Would you kindly direct all comments to my email.
	</p>
</footer>
</body>
</html>
